# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Do not exclude the main.js file from hot-reload since that is needed to enable hot reload
!**/hot-reload/main.js

# Exclude copied plugin files
/tests/**/obsidian-note-autocreation/styles.css
/tests/**/obsidian-note-autocreation/manifest.json
/tests/**/obsidian-note-autocreation/main.js
